<!--<div>-->
<!--  <label for="email">User: </label>-->
<!--  <input id="email" [(ngModel)]="user.email" placeholder="email">-->
<!--  <input id="password" [(ngModel)]="user.password" placeholder="password">-->
<!--  <li>-->
<!--    <button type="button" (click)="createAccount()">Register</button>-->
<!--    <button type="button">Log in-->
<!--    </button>-->
<!--  </li>-->
<!--</div>-->

<!--<a [routerLink]="['/']">-->
<!--<main>-->
<!--  <span><p>ALLENEO</p></span>-->
<!--  <button type="button" (click)="getFromFile()">Get From File</button>-->
<!--</main>-->
  <div class="wrap">
<!--    <h1 class="register-title">Alleneo</h1>-->
<!--    <form class="register">-->
      <input type="email" class="register-input" [(ngModel)]="user.email" placeholder="Email address">
      <input type="password" class="register-input" [(ngModel)]="user.password" placeholder="Password">
      <li>
        <input type="submit" (click)="createAccount()" value="Create Account" class="register-button">
        <!--    <input type="submit" value="Log in" class="login-button">-->
      </li>
<!--    </form>-->
  </div>
<!--</a>-->
