a {
  text-decoration: none;
}

i {
  vertical-align: middle;
  font-size: 24px;
}

.main-fab {
  position:absolute;
  z-index:20;
  font-size:30px;
  top:100px;
  left:24px;
  transform:scale(.88,.88);
}

.md-breadcrumb {
  padding-left:88px;
}

.JCLRgrip:first-child {
  left:105px!important;
  display: none!important;
}

.JColResizer th:first-child {
  width: 105px!important;
}

.md-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.md-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.md-table th,
.md-table td {
  padding: 12px 15px;
}

.md-table tbody tr {
  border-bottom: thin solid #dddddd;
}

.md-table tbody tr:nth-of-type(even) {
  background-color: #aaaaaa;
}

.md-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.md-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.md-table tbody tr:hover, .md-table tbody tr:focus {
  cursor:pointer;
  background-color:rgba(63,81,181,0.2);
}

/*.md-table-headers {*/
/*  font-size: 20px;*/
/*  font-weight: 300;*/
/*  background-image: conic-gradient(*/
/*    #553c9a 0%, #553c9a 33%, #ee4b2b 33%, #ee4b2b 66%, #00c2cb 66%, #00c2cb 99%);*/
/*  color: transparent;*/
/*  background-clip: text;*/
/*  -webkit-background-clip: text;*/
/*}*/

.md-table-header a{
  text-decoration: none;
  color: inherit;
}

.md-table-content {
  white-space: nowrap;
  font-size: 0.8em;
  padding: 16px 16px 16px 0;
  height: 72px;
}

.md-table-td-more {
  max-width:72px;
  width:72px;
  padding:16px;
}

.md-table-thumbs {
  max-width: 104px;
  width: 104px;
  padding: 16px 32px;
}

.md-table-thumbs div {
  overflow:hidden;
  width: 40px;
  height:40px;
  border-radius:20px;
  border: 1px solid rgba(0,0,0,0.2);
  background-size:cover;
  box-shadow: 0 8px 10px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 8px 10px rgba(0,0,0,.1);
}

.md-table-footer {
  height:40px;
  padding-left: 32px;
  padding-right: 32px;
}

.md-table-count-info {
  line-height:40px;
  font-size:.75em;
}

.md-table-footer-item {
  width: 40px;
  height: 40px;
  vertical-align:middle;
}

.md-table-active-page {
  font-weight: 700;
}

.bold {
  font-weight: 700;
}

.grey {
  color: grey;
}

md-input-container.md-default-theme .md-input {
  color: white;
  border-color: white;
  margin-top: 24px;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid grey;
  transform: rotate(180deg);
}

.upside-down{
  border-top: 20px solid grey;
  border-bottom: none;
}

.title {
  font-size: 40px;
  font-weight: 300;
  background-image: linear-gradient(to left, #3290B1, #009879);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.erorr-message{
  background-color: #f44336;
  color: white;
  padding: 16px;
  border-radius: 16px;
  font-size: 24px;

}
